#next{
    padding: 1em 0em;
    width: 10em;
    border-radius: 0.5em;
    background-color: hsl(213, 96%, 18%);
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

#next:hover{
    background-color: hsl(213, 76%, 30%);
}

#back{
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: hsl(231, 11%, 63%);
    cursor: pointer;
}

#back:hover{
    color: hsl(213, 96%, 18%);
}


.buttons{
    display: flex;
    /* justify-content: space-between; */
    justify-content: right;
    gap: 16.5em;
    align-items: center;


    /* position absolute */
    /* position: absolute;
    top: 32em; */
}