.page{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30vw;
}


.add-ons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1em solid hsl(229, 24%, 87%);
    border-radius: 0.5em;
    padding: 1em 1em;
    margin-top: 1em;
}

.add-ons:hover{
    border-color: hsl(243, 100%, 62%);
}


.addon{
    display: flex;
    gap: 1em;
    align-items: center;
}

.add-ons p:nth-child(1){
    color: hsl(213, 96%, 18%);
    font-weight: 500;
}

.add-ons p:nth-child(2){
    color: hsl(231, 11%, 63%);
}


.add-ons #cost{
    color: hsl(243, 100%, 62%);
}

#select{
    height: 1.5em;
    width: 1.5em;
}

#selected{
    background-color: hsl(217, 100%, 97%);
    border-color: hsl(243, 100%, 62%);;
}