.page{
    display: flex;
    flex-direction: column;
    width: 30vw;
}



.form-info p{
    color: hsl(231, 11%, 63%);
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-fields{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

label{
    margin-top: 0.5em;
    font-size: 0.8em;
    font-weight: 500;
}

#input{
    height: 2.5em;
    border-radius: 0.5em;
    border: 0.1em solid hsl(229, 24%, 87%);
    font-weight: 500;
    padding: 0 1em;
    color: hsl(213, 96%, 18%);
}

#input::placeholder{
    color: hsl(231, 11%, 63%);
}

#input:hover{
    cursor: pointer;
    border-color: hsl(231, 11%, 63%);
}


.label-and-error{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-message{
    font-size: 0.8em;
    color: hsl(354, 84%, 57%);
}